<section class="content-header">
</section>

<section class="content">
    <ngx-spinner bdOpacity=0.9 bdColor="rgba(44,14,100,0.50)" size="medium" color="#fff" type="line-spin-clockwise-fade" [fullScreen]="true">
        <p style="color: white"> Caregando Ordens de Serviço </p>
    </ngx-spinner>
    <section class="invoice">

        <!--<sivp-table [name]="'Ordem de Serviço'" [headers]="['Id', 'Orçamento','Loja', 'Cliente', 'Vendedor','Previsão Entrega', 'Data Inicio', 'Data Termino', 'Item', 'Detalhe', 'Ambiente', 'Medida', 'Valor', 'Empreita', 'Pedra']" [datas]="serviceOrders" [ids]="['id','orcamento_id','loja' ,'cliente', 'vendedor', 'dataPrevisaoTermino','dataInicio','dataTermino','item','detalhe','comodo','medida','valor','empreita','pedra']" [runClickRow]="false" [sotc]="self">
        </sivp-table>-->

        <sivp-table [name]="'Ordem de Serviço'" [headers]="['Id', 'Orçamento','Loja', 'Cliente','Previsão Entrega', 'Item', 'Detalhe', 'Ambiente', 'Valor', 'Terminado', 'Empreita']" [datas]="serviceOrders" [ids]="['id','orcamento_id','loja' ,'cliente', 'dataPrevisaoTermino','item','detalhe','comodo','valor','terminado','empreita']" [runClickRow]="false" [ostc]="self">
        </sivp-table>

        <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#modal-default">Open Modal</button>

        <!----------------------------------- MODAL CHANGE --------------------------------------------------------------------->
        <div class="modal fade" id="modal-default" role="dialog" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" (click)="openModalFunction(false)" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">OS {{id}} <br> Valor: R$ {{soValue}}</h4>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="modalForm" novalidate>
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="box box-primary">
                                        <div class="box-header">
                                            <h3 class="box-title"><i class="fa fa-pencil"></i> Funcionário </h3>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3"></div>
                                            <div class="col-xs-3"><label> % Total</label></div>
                                            <div class="col-xs-3"><label> % Normal</label></div>
                                            <div class="col-xs-3"><label> % Empreita</label></div>
                                            
                                        </div>
                                        <div *ngFor="let item of cbo.controls; let i = index" class="checkbox" formArrayName="checkBoxOption">
                                            <div class="row" [formGroupName]="i">
                                                <div class="col-xs-3">
                                                    <label>
                                                        <input (click)="setValueCheckBox(i)" type="checkbox" [formControlName]="'employeeName'" #iptCb> {{checks[i]}}
                                                    </label>
                                                </div>

                                                <div [class.hide]="!showTextBox(checks[i])" class="col-xs-3">
                                                    <input (keyup)="eventInput(i, value)" type="text" class="form-control input-sm pull-right" placeholder="%" [formControlName]="'employeeShare'">
                                                </div>
                                                <div [class.hide]="!showTextBox(checks[i])" class="col-xs-3">
                                                    <input (keyup)="eventInput(i, value)" type="text" class="form-control input-sm pull-right" placeholder="%" [formControlName]="'employeeNormalShare'">
                                                </div>
                                                <div [class.hide]="!showTextBox(checks[i])" class="col-xs-3">
                                                    <input (keyup)="eventInput(i, value)" type="text" class="form-control input-sm pull-right" placeholder="%" [formControlName]="'employeeEmpreitaShare'">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <sivp-primary-box [title]="'Data Término'">
                                    <sivp-date-picker formControlName="txtDate" #dPicker></sivp-date-picker>
                                </sivp-primary-box>

                                <sivp-primary-box [title]="'Complemento'">
                                    <label>
                                        <input (click)="showStatus('Empreita')" type="checkbox" formControlName="cbEmpreita"> Empreita
                                    </label>
                                    <br>
                                    <label>
                                        <input (click)="showStatus('Stone')" type="checkbox" formControlName="cbStone"> Mármore / Granito
                                    </label>
                                </sivp-primary-box>



                                <div *ngIf="modalForm.get('cbEmpreita').value || modalForm.get('cbStone').value" class="col-sm-12 col-xs-12">
                                    <div class="box box-primary">
                                        <div class="box-header">
                                            <h3 class="box-title"><i class="fa fa-pencil"></i> Empreita | Mármore/Granito </h3>
                                        </div>
                                        <div *ngIf="modalForm.get('cbEmpreita').value" class="col-sm-6 col-xs-12">
                                            <label> Valor Empreita </label>
                                            <input class="form-control input-sm" type="text" formControlName="txtEmpreitaValue" placeholder="Valor Empreita" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ','}">
                                            <!--<label> Data Pagamento Empreita </label><br>
                                            <sivp-date-picker formControlName="txtEmpreitaDate"></sivp-date-picker>-->
                                        </div>

                                        <div *ngIf="modalForm.get('cbStone').value" class="col-sm-6 col-xs-12">
                                            <label> Valor Mármore/Granito </label>
                                            <input class="form-control input-sm" type="text" formControlName="txtStoneValue" placeholder="Valor Mármore/Granito" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ','}">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer" style="{margin-top: 5; margin-bottom: 5}">
                                <button type="button" class="btn btn-default pull-left" (click)="openModalFunction(false)">Fechar</button>
                                <button [class.disabled]="!(validateSum() && modalForm.valid)" type="button" class="btn btn-primary" (click)="buildQuery()">OK</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>
        <!------------------------------------------ END MODAL CHANGE ----------------------------------------------------------->

    </section>
</section>
