<h1 class="text-center display-5"> {{name}} </h1>
<input *ngIf="searchBar=='true'" class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Digite sua busca">
<table class="table table-hover">

    <caption>{{name}}</caption>
    <thead>
        <tr>
            <th *ngFor="let header of headers" scope="col">{{header}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of datas | filter:filter | paginate: {itemsPerPage: ipp, currentPage: p}; index as j" (click)="eventRow(j)">
            <td [class.linhaSelecionada]="currentLine == j" *ngFor="let id of ids; index as i">
                <span *ngIf="id != 'approved'">
                    <span *ngIf="id == 'budgetId'">
                        <a [routerLink]="['/budgetEdit']" [queryParams]="{id: data[id]}" class="btn"> {{data[id]}} </a>
                        <!--<a class="btn" (click)="openBudget(data[id])">{{data[id]}}</a>-->
                    </span>
                    <span *ngIf="id != 'budgetId'">
                        {{data[id]}}
                    </span>
                </span>
                
                <span *ngIf="id == 'approved'">
                    <i *ngIf="data[id] == 1" class="fa fa-check" style="color: green"></i>
                    <i *ngIf="data[id] == 0" class="fa fa-close" style="color: red"></i>
                </span>
                
            </td>
            <td *ngIf="buttonOption">
                <button (click)="addBudgetItem(data['id'], data['descricao'], data['valorUnitario'])" type="button" class="btn btn-primary" [class.disabled]="!enableButton">Add</button>
            </td>

            <!--<td *ngIf="dropdownButton">
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="btn pull-left"><i class="fa fa-file-pdf-o pull-left" style="color: red"></i>Gerar PDF</a></li>
                        <li><a class="btn pull-left" (click)="changeBudgetStatus(data['budgetId'], true)"><i class="fa fa-check" style="color: green"></i>Aprovar</a></li>
                        <li><a class="btn pull-left" (click)="changeBudgetStatus(data['budgetId'], false)"><i class="fa fa-close" style="color: red"></i>Rejeitar</a></li>
                        <li><a class="btn pull-left"><i class="fa fa-edit" style="color: blue"></i>Editar</a></li>
                        <li><a class="btn pull-left" (click)="duplicateBudget()"><i class="fa fa-copy" style="color: darkblue"></i>Duplicar</a></li>
                    </ul>
                </div>
            </td>-->

            <td *ngIf="itemButton">
                <button (click)="openModalItem(data['id'], data['descricao'], data['valorUnitario'])" type="button" class="btn btn-primary">Alterar</button>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls class="text-center" (pageChange)="p = $event" *ngIf="showPagination"></pagination-controls>
