<h1 class="text-center display-5"> {{name}} </h1>
<input *ngIf="searchBar=='true'" class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Digite sua busca">
<table class="table table-hover">

    <caption>{{name}}</caption>
    <thead>
        <tr>
            <th *ngFor="let header of headers" scope="col">{{header}}</th>
            <th *ngIf="soc "> Comb.</th>
            <th *ngIf="soc"> Qtd.</th>
        </tr>
        <a class="btn pull-left" *ngIf="selectionButton" (click)="selectAll()"><i class="fa fa-square"> Selecionar Tudo </i></a>
    </thead>
    <tbody>
        <tr *ngFor="let data of datas | filter:filter | paginate: {itemsPerPage: ipp, currentPage: p}; index as j" (click)="eventRow(j, data)">

            <td [class.linhaSelecionada]="selectRow(j)" *ngFor="let id of ids; index as i" [class.hide]="data['item'] == 'LINHA DE SEPARAÇÃO'">
                <span *ngIf="id != 'approved' && id != 'entrada'">
                    <span *ngIf="id == 'budgetId'">
                        <a [routerLink]="['/budgetEdit']" [queryParams]="{id: data[id]}" class="btn"> {{data[id]}} </a>
                    </span>
                    <span *ngIf="csc && id == 'id'">
                        <a [routerLink]="['/clientRegister']" [queryParams]="{id: data['id'], store: data['nameStore']}" class="btn"> {{data[id]}} </a>
                    </span>
                    
                    <span *ngIf="spc && id == 'id'">
                        <a (click)="showSpcDraw(data['id'])" class="btn"> {{data[id]}} </a>
                    </span>

                    <span *ngIf="((sotc || ostc) && id =='id') || (soc && id=='id') ">
                        <a (click)="openModalServiceOrder(data['id'], data['valor'])" class="btn"> {{data[id]}} </a>
                    </span>
                    <span *ngIf="pc && id =='id'">
                        <a (click)="openModalPayment(data['id'])" class="btn"> {{data[id]}} </a>
                    </span>
                    <span *ngIf="(sotc || ostc) && id == 'orcamento_id'">
                        <a [routerLink]="['/budgetEdit']" [queryParams]="{id: data[id]}" class="btn"> {{data[id]}} </a>
                    </span>
                    <span *ngIf="id != 'budgetId' && !((sotc || ostc) && id == 'id') && id != 'approved' && id != 'empreita' && id != 'pedra' && id != 'terminado' && !(csc && id == 'id') && !(pc && id=='id') && !((sotc || ostc) && id == 'orcamento_id') && !(soc && id=='id') && !(spc && id == 'id')">
                        {{data[id]}}
                    </span>
                    
                </span>

                <span *ngIf="id == 'entrada'">
                    <i *ngIf="data[id]" class="fa fa-arrow-up" style="color: green"></i>
                    <i *ngIf="!data[id]" class="fa fa-arrow-down" style="color: red"></i>
                </span>

                <span *ngIf="id == 'approved' || id=='empreita' || id =='pedra' || id=='terminado'">
                    <i *ngIf="data[id] == 1" class="fa fa-check" style="color: green"></i>
                    <i *ngIf="data[id] == 0" class="fa fa-close" style="color: red"></i>
                </span>

            </td>

            <td class="linhaSeparacao" [class.hide]="data['item'] != 'LINHA DE SEPARAÇÃO'" colspan=9>
                {{data['comodo']}}
            </td>

            <!--<div>-->
            <td *ngIf="sotc || ostc">
                <!--<sivp-upload [title]="'Adicionar Imagem'"></sivp-upload>-->
                <div class="btn-group pull-right" style="margin-bottom: 5px">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">

                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="btn pull-left" [routerLink]="['/serviceOrder']" [queryParams]="formout" [class.disabled]="!approved"><i class="fa fa-paper-plane-o" style="color: black"></i>Lançar</a></li>
                        <li><a class="btn pull-left" (click)="exportPdfSo(data['id'])"><i class="fa fa-file-pdf-o pull-left" style="color: red"></i>Gerar PDF</a></li>
                        <li (click)="setUploadId(data['id'])">
                            <sivp-upload [title]="'Adicionar Imagem'"></sivp-upload>
                        </li>
                    </ul>
                </div>
            </td>
            <!--</div>-->


            <td *ngIf="budgetTable && removeItemOption && selectedRow ==j && data['item'] != 'LINHA DE SEPARAÇÃO'">
                <!--<sivp-upload [title]="'Adicionar Imagem'"></sivp-upload>-->
                <div class="btn-group pull-right" style="margin-bottom: 5px">
                    <a class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-home"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let a of ambients"><a class="btn" (click)="changeAmbient(a)"> {{a}} </a> </li>
                    </ul>
                </div>
                <a class="btn" (click)="changeItem(j)">
                    <i class="fa fa-exchange"></i>
                </a>
            </td>

            <td *ngIf="csc">
                <div class="btn-group pull-right" style="margin-bottom: 5px">
                    <a class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['/budget']" [queryParams]="{clientId: data['id']}" class="btn"><i class="fa fa-file"></i> Orçamentos </a> </li>
                        <li><a [routerLink]="['/searchProject']" [queryParams]="{clientId: data['id']}" class="btn"><i class="fa fa-file-image-o"></i> Projetos </a> </li>
                    </ul>
                </div>
                
            </td>

            <td *ngIf="buttonOption">
                <a (click)="addBudgetItem(data['id'], data['descricao'], data['valorUnitario'])" class="btn btn-primary" [class.disabled]="!enableButton">Add</a>
            </td>

            <td *ngIf="itemButton">
                <button (click)="openModalItem(data['id'], data['descricao'], data['valorUnitario'])" type="button" class="btn btn-primary">Alterar</button>
            </td>

            <td *ngIf="removeItemOption && selectedRow ==j && data['item'] != 'LINHA DE SEPARAÇÃO'">
                <a (click)="removeItem(j)" class="btn"><i class="fa fa-trash"></i></a>
            </td>

            <!--<span *ngIf="soc && releseSoc">
                <form [formGroup]="formGroupSO">
                    <td>
                        <div formArrayName="soComposition">
                            <div [formGroupName]="j">
                                <input type="text" class="form-control input-sm" placeholder="Comp" [formControlName]="'soComposition'">
                            </div>
                        </div>
                    </td>
                    
                    <td>
                        <div formArrayName="soComposition">
                            <div [formGroupName]="j">
                                <input type="text" class="form-control input-sm" placeholder="Share" [formControlName]="'soShare'">
                            </div>
                        </div>
                    </td>
                </form>
            </span>-->
        </tr>

        <!--<tr *ngFor="let data of datas | filter:filter | paginate: {itemsPerPage: ipp, currentPage: p}; index as j" (click)="eventRow(j)" [class.hide]="data['item'] == 'LINHA DE SEPARAÇÃO'">
            <td> {{data[comodo]}}</td>
        </tr>-->
    </tbody>
</table>
<pagination-controls class="text-center" (pageChange)="p = $event" *ngIf="showPagination"></pagination-controls>
