<section class="content-header">
</section>

<section class="content">
    <form [formGroup]="formMaterial">
        <ngx-spinner bdOpacity=0.9 bdColor="rgba(44,14,100,0.50)" size="medium" color="#fff" type="line-spin-clockwise-fade" [fullScreen]="true">
            <p> Caregando Materiais </p>
        </ngx-spinner>
        <section class="invoice">
            <a class="btn btn-primary pull-right" (click)="openModalAddMaterial()"> <i class="fa fa-plus"></i> Adicionar Material</a>
            <sivp-table [name]="'Material'" [headers]="['Id', 'Nome', 'Marca', 'Tamanho Comercial', 'Tamanho Real', 'Unidade', 'Valor']" [datas]="materials" [ids]="['id','nome', 'marca', 'tamanhoComercial','tamanhoReal' ,'unidade' ,'valor']" [mc]="self" [runClickRow]="false">
            </sivp-table>
        </section>

        <!-- MODAL INSERÇÃO -------------------------------------------->
        <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#modal-default">Open Modal</button>
        <sivp-modal [title]="modalTitle" [icon]="'fa fa-pencil'" (okClick)="processMaterial($event)" [id]="'modal-default'" [enableOkButton]="formMaterial.valid">
            <div class="row">
                <sivp-input-container class="col-sm-6 col-xs-12">
                    <label> Marca</label>
                    <input type="text" class="form-control" formControlName="txtBrand" placeholder="Marca" style="text-transform: uppercase">
                </sivp-input-container>

                <sivp-input-container class="col-sm-6 col-xs-12">
                    <label> Nome</label>
                    <input type="text" class="form-control" formControlName="txtName" placeholder="Nome">
                </sivp-input-container>

                <sivp-input-container class="col-sm-6 col-xs-12">
                    <label> Tamanho Comercial </label>
                    <input type="text" class="form-control" formControlName="txtComercialSize" placeholder="Tamanho Comercial">
                </sivp-input-container>
                
                <sivp-input-container class="col-sm-6 col-xs-12">
                    <label> Tamanho Real </label>
                    <input type="text" class="form-control" formControlName="txtRealSize" placeholder="Tamanho Real">
                </sivp-input-container>

                <sivp-input-container class="col-sm-6 col-xs-12">
                    <label> Unidade</label>
                    <select class="form-control" formControlName="cmbUnit">
                        <option>pç</option>
                        <option>m2</option>
                    </select>
                </sivp-input-container>

                <sivp-input-container class="col-sm-6 col-xs-12">
                    <label> Valor</label>
                    <input type="select" class="form-control" formControlName="txtValue" currencyMask [options]="{prefix: 'R$ ', decimal: ',', thousands: '.'}">
                </sivp-input-container>

            </div>
        </sivp-modal>
        <!-- MODAL INSERÇÃO -------------------------------------------->

    </form>
</section>
