<aside class="main-sidebar" style="position: fixed">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="./img/userIcon.png" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Jefferson</p>
      </div>
    </div>
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li> <sivp-menu-item [name]="'Orçamento'" [subItems]="['Novo', 'Procurar', 'Editar', 'Itens']" [routers]="['/newBudget', '/budget', '/newBudget2', '/budgetItems']" class="sidebar-menu" ></sivp-menu-item></li>
        <li> <sivp-menu-item [name]="'Ordem de Serviço'" [subItems]="['Novo', 'Editar']" [routers]="['/comp1', '/comp']" class="sidebar-menu" ></sivp-menu-item></li>
        <li> <sivp-menu-item [name]="'Pedido'" [subItems]="['Novo', 'Editar']" [routers]="['/comp1', '/comp']" class="sidebar-menu" ></sivp-menu-item></li>
        <li> <sivp-menu-item [name]="'Cliente'" [subItems]="['Cadastrar', 'Procurar']" [routers]="['/clientRegister', '/clientSearch']" class="sidebar-menu" ></sivp-menu-item></li>
        <li> <sivp-menu-item [name]="'Vendedor'" [subItems]="['Cadastrar', 'Procurar']" [routers]="['/sellerRegister', '/sellerSearch']" class="sidebar-menu" ></sivp-menu-item></li>
    </ul>
  </section>
</aside>