<ngx-spinner name="spinnerCliente" bdOpacity=0.9 bdColor="rgba(44,14,100,0.50)" size="medium" color="#fff" type="line-spin-clockwise-fade" [fullScreen]="true">
    <p> Caregando Clientes </p>
</ngx-spinner>

<section class="content-header">
</section>


<section class="content">
    <section class="invoice">
        <!-- novalidade desabilita validação do browser para delegar a validação para a aplicação angular-->
        <form [formGroup]="orderForm" novalidate>
            <!--{{orderForm.value | json}}
            {{orderForm.valid}}
           {{clientsJuridicoObj}}-->
            <!--First Row-->
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <i class="fa fa-usd"></i> Novo Orçamento
                    </h2>
                </div>
            </div>
            <!--/First Row-->

            <!--Second Row-->
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title"><i class="fa fa-user"></i> Tipo do Cliente:</h3>
                        </div>
                        <div class="form-group">
                            <sivp-radio [options]="tipoCliente" formControlName="tCliente" (click)="validateField()"></sivp-radio>
                            <input type="checkbox" formControlName="chkPoloAd"> Polo Ad
                            
                        </div>
                    </div>
                </div>
            </div>
            <!--/Second Row-->

            <!--Third Row-->
            <div class="row">
                <sivp-primary-box [title]="'Data'">
                    <sivp-date-picker formControlName="data"></sivp-date-picker>
                </sivp-primary-box>
                <sivp-primary-box [title]="'Cliente'">
                    <sivp-auto-complete *ngIf="orderForm.value.tCliente == 'FIS'&&validateCliente" [options]="clientsFisicoObj" formControlName="cliente" [bco]="main" [typeInput]="Client"></sivp-auto-complete>
                    <sivp-auto-complete *ngIf="orderForm.value.tCliente == 'LOJ'&&validateCliente&&validateTerceiro" [options]="clientsJuridicoObj" formControlName="cliente" [bco]="main" [typeInput]="Client"></sivp-auto-complete>
                </sivp-primary-box>
            </div>
            <!--/Third Row-->

            <!--Fourth Row-->
            <div class="row">
                <sivp-primary-box [title]="'Terceiro'" *ngIf="validateTerceiro">
                    <h6 [ngStyle]="{'visibility':!showTerceiros ? 'visible' : 'hidden'}"> AGUARDANDO SELEÇÃO DE CLIENTE </h6>
                    <sivp-auto-complete *ngIf="validateTerceiro" [options]="terceirosObj" formControlName="terceiro" [typeInput]="Terceiro" [bco]="main" [ngStyle]="{'visibility':showTerceiros ? 'visible' : 'hidden'}" #completo></sivp-auto-complete>
                </sivp-primary-box>
                <sivp-primary-box [title]="'Vendedor'" *ngIf="validateVendedor">
                    <h6 [ngStyle]="{'visibility':!showVendedores ? 'visible' : 'hidden'}"> AGUARDANDO SELEÇÃO DE CLIENTE </h6>
                    <sivp-auto-complete *ngIf="validateVendedor" [options]="vendedoresObj" formControlName="vendedor" [typeInput]="Vendor" [bco]="main" [ngStyle]="{'visibility':showVendedores ? 'visible' : 'hidden'}" #vendedores></sivp-auto-complete>
                </sivp-primary-box>
            </div>
            <!--/Fourth Row-->
        </form>

        <div class="row">
            <div class="col-xs-12">
                <a [routerLink]="['/newBudget2']" [queryParams]="formout2" class="btn btn-primary pull-right" [class.disabled]="!orderForm.valid"> Próximo <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </div>

    </section>
</section>
