<section class="content-header"></section>

<section class="content">
    <section class="invoice">
        <ngx-spinner bdOpacity=0.9 bdColor="rgba(44,14,100,0.50)" size="medium" color="#fff" type="line-spin-clockwise-fade">
            <p style="color:white;"> Aguarde </p>
        </ngx-spinner>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="info-box bg-yellow">
                        <span class="info-box-icon"><i class="ion ion-ios-wrench"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">OS</span>
                            <span class="info-box-number">2453</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="">
                    <div class="info-box bg-yellow">
                        <span class="info-box-icon"><i class="ion ion-pin"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Orçamento</span>
                            <span class="info-box-number">9851</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Valor</span>
                        <span class="info-box-number">R$ 13.200,51</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="ion ion-ios-calendar"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Loja</span>
                        <span class="info-box-number">Belartte</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="ion ion-ios-calendar"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Cliente</span>
                        <span class="info-box-number">João Ribeiro</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="ion ion-ios-calendar"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Vendedor</span>
                        <span class="info-box-number">Alexandre</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            
        </div>
        
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="ion ion-ios-calendar"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Funcionário(s)</span>
                        <span class="info-box-number">Wellington</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="ion ion-ios-calendar"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Observação</span>
                        <span class="info-box-number">Texto de Observação</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="ion ion-ios-calendar"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Produto</span>
                        <span class="info-box-number">Granito Preto São Gabriel</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            
        </div>
        
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="ion ion-ios-calendar"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Previsão Entrega</span>
                        <span class="info-box-number">31/08/2019</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="ion ion-ios-calendar"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Data Início</span>
                        <span class="info-box-number">31/08/2019</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            
            <a (click)="genericFunction()"><div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="ion ion-ios-calendar"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Data Término</span>
                        <span class="info-box-number">31/08/2019</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div></a>
            
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-purple">
                    <span class="info-box-icon"><i class="ion ion-ios-store"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Status</span>
                        <span class="info-box-number">Entregue</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
        </div>
        
    </section>
</section>
