<sivp-header [class.hide]="!appService.checkSessionStorage('authenticated')"></sivp-header>
<sivp-menu [class.hide]="!appService.checkSessionStorage('authenticated')"></sivp-menu>
<div [class.content-wrapper]="appService.checkSessionStorage('authenticated')">

  <!-- Main content -->
  <section class="content">
      <router-outlet></router-outlet>  
  </section>
</div>
<sivp-settings [class.hide]="!appService.checkSessionStorage('authenticated')"></sivp-settings>
<sivp-footer [class.hide]="!appService.checkSessionStorage('authenticated')"></sivp-footer>
