<section class="content-header">
</section>

<section class="content">
    <ngx-spinner bdOpacity=0.9 bdColor="rgba(44,14,100,0.50)" size="medium" color="#fff" type="line-spin-clockwise-fade" [fullScreen]="true">
        <p> Caregando Orçamentos </p>
    </ngx-spinner>
    <section class="invoice">
        <!----------------------- CARREGA ORÇAMENTOS QUE NÃO ESTÃO NO BUFFER ----------------------->
        <a class="btn pull-right" (click)="loadBudgets()"><i class="fa fa-download"></i> Carregar Orçamentos </a>
        <!----------------------- CARREGA ORÇAMENTOS QUE NÃO ESTÃO NO BUFFER ----------------------->
        <sivp-table [name]="'Orçamento'" [headers]="['Id', 'Cliente', 'Terceiro', 'Data', 'Valor', 'Aprovado']" [datas]="buds" [ids]="['budgetId','clientName','storeClient' ,'date', 'value', 'approved']" [btc]="self" [dropdownButton]="true" [runClickRow]="false">
        </sivp-table>
    </section>
</section>