<section class="content-header">
</section>

<section class="content">
    <ngx-spinner bdOpacity=0.9 bdColor="rgba(44,14,100,0.50)" size="medium" color="#fff" type="line-spin-clockwise-fade" [fullScreen]="true">
        <p> Caregando Pagamentos </p>
    </ngx-spinner>
    <section class="invoice">

        <div class="row">
            <form [formGroup]="filterForm" novalidate>
                <div class="col-md-12">
                    <div class="box box-primary collapsed-box">
                        <div class="box-header with-border">
                            <h3 class="box-title"><i class="fa fa-filter"></i> Filtros</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <sivp-input-container class="form-group col-sm-4 col-xs-12">

                                    <label> Data </label>
                                    <a (click)="clearDateFilter()" class="btn"><i class="fa fa-trash"> Limpar </i></a>
                                    <input type="text" ngxDaterangepickerMd formControlName="txtDate" class="form-control" [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" readonly="true"/>
                                </sivp-input-container>

                                
                                <sivp-input-container class="form-group col-sm-3 col-xs-12">
                                    <label> Entrada / Saída </label>
                                    <select class="form-control" formControlName="cmbInOut">
                                        <option></option>
                                        <option>Entrada</option>
                                        <option>Saída</option>
                                    </select>
                                </sivp-input-container>


                                <sivp-input-container class="form-group col-sm-5 col-xs-12">
                                    <label> Assunto </label>
                                    <input type="text" class="form-control" formControlName="txtBill">
                                </sivp-input-container>
                            </div>

                            <div class="row">
                                <sivp-input-container class="form-group col-sm-4 col-xs-12">
                                    <label> Valor </label>
                                    <input type="text" class="form-control" formControlName="txtValue" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                                </sivp-input-container>

                                <sivp-input-container class="form-group col-sm-5 col-xs-12">
                                    <label>Status</label>
                                    <select class="form-control" formControlName="cmbStatus">
                                        <option *ngFor="let s of status">{{s}}</option>
                                    </select>
                                </sivp-input-container>

                                <sivp-input-container class="form-group col-sm-3 col-xs-12">
                                    <label> Cheque Nº </label>
                                    <input type="text" class="form-control" formControlName="txtCheckNumber">
                                </sivp-input-container>

                            </div>

                            <div class="row">
                                <sivp-input-container class="form-group col-sm-6 col-xs-12">
                                    <label> Forma de Pagamento </label>
                                    <select class="form-control" formControlName="cmbPaymentForm">
                                        <option *ngFor="let pw of paymentWay">{{pw}}</option>
                                    </select>
                                </sivp-input-container>

                                <sivp-input-container class="form-group col-sm-6 col-xs-12">
                                    <label> Tipo Pagamento </label>
                                    <select class="form-control" formControlName="cmbTypePayment">
                                        <option *ngFor="let pt of paymentType">{{pt}}</option>
                                    </select>
                                </sivp-input-container>
                            </div>

                            <div class="row">
                                <sivp-input-container class="form-group col-sm-12 col-xs-12">
                                    <label> Observação </label>
                                    <input type="text" class="form-control" formControlName="txtNote">
                                </sivp-input-container>
                            </div>
                            <a class="btn btn-default pull-left" (click)="clearFilter()"><i class="fa fa-trash"></i> Limpar Filtros </a>
                            <a class="btn btn-primary pull-right" (click)="applyFilter()"><i class="fa fa-filter"></i> Filtrar </a>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title"><i class="fa fa-usd"></i> Pagamentos</h3>
                        <div class="btn-group pull-right" style="margin-bottom: 5px">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">

                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a (click)="setNewPayment()" data-toggle="modal" class="btn pull-left" data-target="#modal-default"><i class="fa fa-money"></i> Novo Pagamento </a></li>
                                <li><a data-toggle="modal" class="btn pull-left" data-target="#modal-formPayment"><i class="fa fa-money"></i> Novo Forma Pagamento </a></li>
                                <li><a data-toggle="modal" class="btn pull-left" data-target="#modal-typePayment"><i class="fa fa-money"></i> Novo Tipo Pagamento </a></li>
                            </ul>
                        </div>
                        
                        
                    </div>
                    <sivp-table [headers]="['Id', 'Conta', 'Data', 'Valor', 'Entrada/Saída', 'Cheque', 'Status', 'Forma Pgto.']" [datas]="filteredPayments" [ids]="['id','conta','data' , 'valor', 'entrada', 'numeroCheque', 'status', 'formaPagamento_formaPagamento']" [pc]="self" [runClickRow]="false" [searchBar] = "false">
                    </sivp-table>
                </div>
            </div>
        </div>
        
        <div class="row">
            <span class="pull-right">
                <label> Total </label>
                <p> {{totalValueString}}</p>
            </span>
        </div>

        <!----------------------------------- MODAL --------------------------------------------------------------------->
        <div class="modal fade" id="modal-default" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeButton">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"><i class="fa fa-usd"></i>Novo Pagamento</h4>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="paymentForm" novalidate>

                            <div class="row" [class.hide]="showForm">
                                <sivp-input-container class="form-group col-sm-3 col-xs-12 pull-left">
                                    <label> Parcelas </label>
                                    <input type="text" class="form-control" formControlName="txtInstallment">
                                </sivp-input-container>
                            </div>

                            <span [class.hide]="!showForm">
                                <div class="row">
                                    <sivp-input-container class="form-group col-sm-12 col-xs-12">
                                        <label> Data </label>
                                        
                                        <br>
                                        <sivp-date-picker formControlName="txtDate" #dPicker></sivp-date-picker>
                                    </sivp-input-container>
                                    
                                    
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-9 col-xs-12">
                                        <sivp-radio [options]="inOut" formControlName="rdInOut" (click)="radioEvent()"></sivp-radio>
                                    </div>
                                </div>

                                <div class="row">
                                    <sivp-input-container class="form-group col-sm-9 col-xs-12">
                                        <label> Assunto </label>
                                        <input type="text" class="form-control" formControlName="txtBill">
                                    </sivp-input-container>
                                    <div class="form-group col-sm-3 col-xs-12">
                                        <label> </label>
                                        <p> {{currentPart}} / {{totalParts}}</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <sivp-input-container class="form-group col-sm-4 col-xs-12">
                                        <label> Valor </label>
                                        <input type="text" class="form-control" formControlName="txtValue" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                                    </sivp-input-container>

                                    <sivp-input-container class="form-group col-sm-5 col-xs-12">
                                        <label>Status</label>
                                        <select class="form-control" formControlName="cmbStatus">
                                            <option *ngFor="let s of status">{{s}}</option>
                                        </select>
                                    </sivp-input-container>

                                    <sivp-input-container class="form-group col-sm-3 col-xs-12">
                                        <label> Cheque Nº </label>
                                        <input type="text" class="form-control" formControlName="txtCheckNumber">
                                    </sivp-input-container>

                                </div>

                                <div class="row">
                                    <sivp-input-container class="form-group col-sm-6 col-xs-12">
                                        <label> Forma de Pagamento </label>
                                        <select class="form-control" formControlName="cmbPaymentForm">
                                            <option *ngFor="let pw of paymentWay">{{pw}}</option>
                                        </select>
                                    </sivp-input-container>

                                    <sivp-input-container class="form-group col-sm-6 col-xs-12">
                                        <label> Tipo Pagamento </label>
                                        <select class="form-control" formControlName="cmbTypePayment">
                                            <option *ngFor="let pt of paymentType">{{pt}}</option>
                                        </select>
                                    </sivp-input-container>
                                </div>

                                <div class="row">
                                    <sivp-input-container class="form-group col-sm-12 col-xs-12">
                                        <label> Observação </label>
                                        <input type="text" class="form-control" formControlName="txtNote">
                                    </sivp-input-container>
                                </div>

                                <div class="row">
                                    <a class="btn pull-right" (click)="changePayment('next')" [class.disabled]="currentPart >= totalParts || !paymentForm.valid"><i class="fa fa-arrow-right"></i></a>
                                    <a class="btn pull-right" (click)="changePayment('previous')" [class.disabled]="currentPart <= 1"><i class="fa fa-arrow-left"></i></a>
                                </div>
                            </span>
                        </form>
                    </div>
                    <div class="modal-footer" style="{margin-top: 5; margin-bottom: 5}">
                        <a class="btn btn-primary" (click)="submitPayments()" [class.disabled]="!enableOk || !paymentForm.valid">OK</a>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!------------------------------------------ END MODAL ----------------------------------------------------------->

        <a data-toggle="modal" class="btn btn-primary pull-right" data-target="#modal-Edit" id="editPayment" [class.hide]="true"><i class="fa fa-plus"></i> Editar Pagamento </a>
        <!----------------------------------- MODAL EDIT --------------------------------------------------------------------->
        <div class="modal fade" id="modal-Edit" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeButton">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"><i class="fa fa-usd"></i> Edição de Pagamento</h4>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="paymentFormEdit" novalidate>

                            <div class="row">
                                <sivp-input-container class="form-group col-sm-12 col-xs-12">
                                    <label> Data </label>
                                    <br>
                                    <sivp-date-picker formControlName="txtDateEdit" #dPickerEdit></sivp-date-picker>
                                </sivp-input-container>
                            </div>


                            <div class="row">
                                <sivp-input-container class="form-group col-sm-9 col-xs-12">
                                    <label> Assunto </label>
                                    <input type="text" class="form-control" formControlName="txtBillEdit">
                                </sivp-input-container>
                            </div>

                            <div class="row">
                                <sivp-input-container class="form-group col-sm-4 col-xs-12">
                                    <label> Valor </label>
                                    <input type="text" class="form-control" formControlName="txtValueEdit" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                                </sivp-input-container>

                                <sivp-input-container class="form-group col-sm-5 col-xs-12">
                                    <label>Status</label>
                                    <select class="form-control" formControlName="cmbStatusEdit">
                                        <option *ngFor="let s of status">{{s}}</option>
                                    </select>
                                </sivp-input-container>

                                <sivp-input-container class="form-group col-sm-3 col-xs-12">
                                    <label> Cheque Nº </label>
                                    <input type="text" class="form-control" formControlName="txtCheckNumberEdit">
                                </sivp-input-container>

                            </div>

                            <div class="row">
                                <sivp-input-container class="form-group col-sm-6 col-xs-12">
                                    <label> Forma de Pagamento </label>
                                    <select class="form-control" formControlName="cmbPaymentFormEdit">
                                        <option *ngFor="let pw of paymentWay">{{pw}}</option>
                                    </select>
                                </sivp-input-container>

                                <sivp-input-container class="form-group col-sm-6 col-xs-12">
                                    <label> Tipo Pagamento </label>
                                    <select class="form-control" formControlName="cmbTypePaymentEdit">
                                        <option *ngFor="let pt of paymentType">{{pt}}</option>
                                    </select>
                                </sivp-input-container>
                            </div>

                            <div class="row">
                                <sivp-input-container class="form-group col-sm-12 col-xs-12">
                                    <label> Observação </label>
                                    <input type="text" class="form-control" formControlName="txtNoteEdit">
                                </sivp-input-container>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer" style="{margin-top: 5; margin-bottom: 5}">
                        <a class="btn btn-primary" (click)="submitEditPayment()" [class.disabled]="!paymentFormEdit.valid"><i class="fa fa-pencil"></i>Editar</a>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!------------------------------------------ END MODAL EDIT ----------------------------------------------------------->
        
        <!----------------------------------- MODAL FORM PAYMENT --------------------------------------------------------------------->
        <div class="modal fade" id="modal-formPayment" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeButton">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"><i class="fa fa-usd"></i> Forma de Pagamento</h4>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="paymentFormForm" novalidate>
                            <sivp-input-container class="form-group col-sm-12 col-xs-12">
                                <label> Forma de Pagamento </label>
                                <input type="text" class="form-control" formControlName="txtPaymentForm">
                            </sivp-input-container>
                            
                        </form>
                    </div>
                    <div class="modal-footer" style="{margin-top: 5; margin-bottom: 5}">
                        <a class="btn btn-primary" (click)="addNewPaymentForm()" [class.disabled]="!paymentFormForm.valid"><i class="fa fa-pencil"></i>OK</a>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!------------------------------------------ END MODAL FORM PAYMENT ----------------------------------------------------------->
        
        <!----------------------------------- MODAL TYPE PAYMENT --------------------------------------------------------------------->
        <div class="modal fade" id="modal-typePayment" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeButton">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"><i class="fa fa-usd"></i> Tipo de Pagamento</h4>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="paymentTypeForm" novalidate>
                            <sivp-input-container class="form-group col-sm-12 col-xs-12">
                                <label> Tipo de Pagamento </label>
                                <input type="text" class="form-control" formControlName="txtPaymentType">
                            </sivp-input-container>
                        </form>
                    </div>
                    <div class="modal-footer" style="{margin-top: 5; margin-bottom: 5}">
                        <a class="btn btn-primary" (click)="addNewPaymentType()" [class.disabled]="!paymentTypeForm.valid"><i class="fa fa-pencil"></i>OK</a>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!------------------------------------------ END MODAL TYPE PAYMENT ----------------------------------------------------------->

    </section>
</section>
